---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #185f8b;
$header-bg-color-secondary: #185f8b;

// Text
$section-headings-color: #2892d7;
$body-text-color: #606c71 !default;
$body-link-color: #185f8b !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

//https://user-images.githubusercontent.com/43466781/148060065-e21fedb4-0fc5-422a-98cc-a6c3c9e19990.jpg

@import "{{ site.theme }}";

.update-background {
     background-image: url("https://user-images.githubusercontent.com/43466781/148060789-fccf11eb-e302-4ad3-8d87-6f6ff4e504bf.jpg") !important;
}
.non-opaque {
    opacity: 0.9;
}
.project-authors {
    font-size: small;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.9;
}

.justify {
    text-align: justify !important;
}

content h5, .main-content h6 {
    color: #2892d7 !important;
}
